--
-- PostgreSQL database dump
--

\restrict tSjJpPjgRwTfvvA6hWWfJjNE6R9bTCE0QLe48VvJgM3DdhngKx3Y8MkcA3oFrH4

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: gstringenum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.gstringenum AS ENUM (
    'normal',
    'coting'
);


ALTER TYPE public.gstringenum OWNER TO postgres;

--
-- Name: guitarval; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.guitarval AS ENUM (
    'g1',
    'g2',
    'g3',
    'g4'
);


ALTER TYPE public.guitarval OWNER TO postgres;

--
-- Name: levelstep; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.levelstep AS ENUM (
    'L1',
    'L2',
    'L3',
    'L4',
    'L5'
);


ALTER TYPE public.levelstep OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id integer NOT NULL,
    name character varying,
    ctype character varying
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_id_seq OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.category_id_seq OWNED BY public.category.id;


--
-- Name: gstring; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gstring (
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id integer NOT NULL,
    step character varying,
    name character varying
);


ALTER TABLE public.gstring OWNER TO postgres;

--
-- Name: gstring_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gstring_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gstring_id_seq OWNER TO postgres;

--
-- Name: gstring_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gstring_id_seq OWNED BY public.gstring.id;


--
-- Name: guitar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guitar (
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id integer NOT NULL,
    step character varying,
    name character varying
);


ALTER TABLE public.guitar OWNER TO postgres;

--
-- Name: guitar_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.guitar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guitar_id_seq OWNER TO postgres;

--
-- Name: guitar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.guitar_id_seq OWNED BY public.guitar.id;


--
-- Name: level; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.level (
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id integer NOT NULL,
    step character varying,
    name character varying
);


ALTER TABLE public.level OWNER TO postgres;

--
-- Name: level_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.level_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.level_id_seq OWNER TO postgres;

--
-- Name: level_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.level_id_seq OWNED BY public.level.id;


--
-- Name: song; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.song (
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id integer NOT NULL,
    name character varying NOT NULL,
    artist character varying NOT NULL,
    style character varying NOT NULL,
    speed character varying NOT NULL,
    level_id integer NOT NULL,
    chord character varying NOT NULL,
    tube_url character varying NOT NULL,
    file_url character varying NOT NULL,
    search_vector tsvector GENERATED ALWAYS AS ((setweight(to_tsvector('simple'::regconfig, (COALESCE(name, ''::character varying))::text), 'A'::"char") || setweight(to_tsvector('simple'::regconfig, (COALESCE(artist, ''::character varying))::text), 'B'::"char"))) STORED
);


ALTER TABLE public.song OWNER TO postgres;

--
-- Name: song_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.song_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.song_id_seq OWNER TO postgres;

--
-- Name: song_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.song_id_seq OWNED BY public.song.id;


--
-- Name: songcategorylink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.songcategorylink (
    song_id integer NOT NULL,
    category_id integer NOT NULL
);


ALTER TABLE public.songcategorylink OWNER TO postgres;

--
-- Name: songuserclickedlink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.songuserclickedlink (
    user_id integer NOT NULL,
    song_id integer NOT NULL,
    click_count integer NOT NULL
);


ALTER TABLE public.songuserclickedlink OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id integer NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    level_id integer,
    guitar_id integer,
    modal boolean DEFAULT false,
    string_id integer,
    device_id character varying,
    is_device boolean
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: userrecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userrecord (
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id integer NOT NULL,
    name character varying NOT NULL,
    style character varying,
    chord character varying,
    speed character varying,
    spec_img_url character varying NOT NULL,
    file_url character varying NOT NULL,
    user_id integer NOT NULL,
    search_vector tsvector GENERATED ALWAYS AS (to_tsvector('simple'::regconfig, (COALESCE(name, ''::character varying))::text)) STORED
);


ALTER TABLE public.userrecord OWNER TO postgres;

--
-- Name: userrecord_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.userrecord_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.userrecord_id_seq OWNER TO postgres;

--
-- Name: userrecord_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.userrecord_id_seq OWNED BY public.userrecord.id;


--
-- Name: category id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category ALTER COLUMN id SET DEFAULT nextval('public.category_id_seq'::regclass);


--
-- Name: gstring id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gstring ALTER COLUMN id SET DEFAULT nextval('public.gstring_id_seq'::regclass);


--
-- Name: guitar id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guitar ALTER COLUMN id SET DEFAULT nextval('public.guitar_id_seq'::regclass);


--
-- Name: level id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.level ALTER COLUMN id SET DEFAULT nextval('public.level_id_seq'::regclass);


--
-- Name: song id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.song ALTER COLUMN id SET DEFAULT nextval('public.song_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: userrecord id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userrecord ALTER COLUMN id SET DEFAULT nextval('public.userrecord_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
736849a0839a
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.category (created_at, updated_at, id, name, ctype) FROM stdin;
2026-02-28 22:18:36.468309+09	2026-02-28 22:18:36.468309+09	1	c1	?붿옍
2026-02-28 22:18:58.658223+09	2026-02-28 22:18:58.658223+09	2	c2	鍮좊쫫
2026-02-28 22:19:08.225386+09	2026-02-28 22:19:08.225386+09	3	c3	???\.


--
-- Data for Name: gstring; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gstring (created_at, updated_at, id, step, name) FROM stdin;
2026-02-16 12:47:48.73969+09	2026-02-16 12:47:48.739704+09	5	?쇰컲以?s1
2026-02-16 12:47:48.739817+09	2026-02-16 12:47:48.739825+09	6	肄뷀똿以?s2
\.


--
-- Data for Name: guitar; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guitar (created_at, updated_at, id, step, name) FROM stdin;
2026-02-16 12:47:48.74007+09	2026-02-16 12:47:48.740075+09	9	?듦린?	acoustic
2026-02-16 12:47:48.740118+09	2026-02-16 12:47:48.740123+09	10	?대옒??湲고?	classic
2026-02-16 12:47:48.740151+09	2026-02-16 12:47:48.740156+09	11	?쇰젆湲고?	electric
\.


--
-- Data for Name: level; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.level (created_at, updated_at, id, step, name) FROM stdin;
2026-02-16 12:47:48.739876+09	2026-02-16 12:47:48.739882+09	11	?낅Ц??l1
2026-02-16 12:47:48.739931+09	2026-02-16 12:47:48.739937+09	12	珥덈낫??l2
2026-02-16 12:47:48.739968+09	2026-02-16 12:47:48.739973+09	13	以묎툒??l3
2026-02-16 12:47:48.74+09	2026-02-16 12:47:48.740005+09	14	怨좉툒??l4
2026-02-16 12:47:48.740033+09	2026-02-16 12:47:48.740037+09	15	?꾨Ц??l5
\.


--
-- Data for Name: song; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.song (created_at, updated_at, id, name, artist, style, speed, level_id, chord, tube_url, file_url) FROM stdin;
2026-02-28 22:27:52.510515+09	2026-02-28 22:27:52.510515+09	2	wow	asdf	asdf	asdf	11	cdvfs	asfd	asdf
2026-03-09 21:48:35.125057+09	2026-03-09 21:48:35.125077+09	5	?덉뿉寃????섏뿉寃????먯쟾嫄????띻꼍	string	string	11	string	string	string
2026-03-09 21:35:55.505483+09	2026-03-09 21:35:55.505512+09	4	湲덉????щ옉	源寃쏀샇	string	string	11	string	string	string
\.


--
-- Data for Name: songcategorylink; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.songcategorylink (song_id, category_id) FROM stdin;
2	1
2	3
2	2
4	1
4	2
5	2
5	3
\.


--
-- Data for Name: songuserclickedlink; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.songuserclickedlink (user_id, song_id, click_count) FROM stdin;
1	2	2
1	4	4
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."user" (created_at, updated_at, id, email, password, level_id, guitar_id, modal, string_id, device_id, is_device) FROM stdin;
2026-02-19 15:07:42.360351+09	2026-02-19 15:10:31.64081+09	2	teriya@naver.com	$argon2id$v=19$m=65536,t=3,p=4$pQfEi+f1FYbs2CpnJ9LY8g$7vLe9TIWdmR26nH9NSzck8GAgwMPggk0dv77bAvbJ0I	14	11	t	6	\N	\N
2026-02-11 20:19:46.756988+09	2026-03-09 22:18:34.378347+09	1	trip0901@dsm.hs.kr	$argon2id$v=19$m=65536,t=3,p=4$dtWzheqtwbME4KjFOr2kaw$s+EB2k9ILMzCOx7fwOS5KN2kuBC6ft8/jytI7Fp7meU	15	9	t	5	1234	t
\.


--
-- Data for Name: userrecord; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userrecord (created_at, updated_at, id, name, style, chord, speed, spec_img_url, file_url, user_id) FROM stdin;
2026-03-02 14:46:00.99303+09	2026-03-02 14:46:00.993061+09	1	string	how	string	string	string	string	1
\.


--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_id_seq', 3, true);


--
-- Name: gstring_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gstring_id_seq', 6, true);


--
-- Name: guitar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.guitar_id_seq', 12, true);


--
-- Name: level_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.level_id_seq', 15, true);


--
-- Name: song_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.song_id_seq', 5, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 5, true);


--
-- Name: userrecord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userrecord_id_seq', 2, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: gstring gstring_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gstring
    ADD CONSTRAINT gstring_pkey PRIMARY KEY (id);


--
-- Name: guitar guitar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guitar
    ADD CONSTRAINT guitar_pkey PRIMARY KEY (id);


--
-- Name: level level_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.level
    ADD CONSTRAINT level_pkey PRIMARY KEY (id);


--
-- Name: song song_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.song
    ADD CONSTRAINT song_pkey PRIMARY KEY (id);


--
-- Name: songcategorylink songcategorylink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.songcategorylink
    ADD CONSTRAINT songcategorylink_pkey PRIMARY KEY (song_id, category_id);


--
-- Name: songuserclickedlink songuserclickedlink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.songuserclickedlink
    ADD CONSTRAINT songuserclickedlink_pkey PRIMARY KEY (user_id, song_id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: userrecord userrecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userrecord
    ADD CONSTRAINT userrecord_pkey PRIMARY KEY (id);


--
-- Name: idx_song_artist_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_song_artist_trgm ON public.song USING gin (artist public.gin_trgm_ops);


--
-- Name: idx_song_name_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_song_name_trgm ON public.song USING gin (name public.gin_trgm_ops);


--
-- Name: idx_song_search_vector; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_song_search_vector ON public.song USING gin (search_vector);


--
-- Name: idx_userrecord_name_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_userrecord_name_trgm ON public.userrecord USING gin (name public.gin_trgm_ops);


--
-- Name: idx_userrecord_search_vector; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_userrecord_search_vector ON public.userrecord USING gin (search_vector);


--
-- Name: ix_song_level_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_song_level_id ON public.song USING btree (level_id);


--
-- Name: ix_user_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_user_device_id ON public."user" USING btree (device_id);


--
-- Name: ix_user_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_user_email ON public."user" USING btree (email);


--
-- Name: ix_user_guitar_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_guitar_id ON public."user" USING btree (guitar_id);


--
-- Name: ix_user_level_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_level_id ON public."user" USING btree (level_id);


--
-- Name: ix_user_string_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_string_id ON public."user" USING btree (string_id);


--
-- Name: ix_userrecord_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_userrecord_user_id ON public.userrecord USING btree (user_id);


--
-- Name: song song_level_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.song
    ADD CONSTRAINT song_level_id_fkey FOREIGN KEY (level_id) REFERENCES public.level(id) ON DELETE CASCADE;


--
-- Name: songcategorylink songcategorylink_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.songcategorylink
    ADD CONSTRAINT songcategorylink_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.category(id);


--
-- Name: songcategorylink songcategorylink_song_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.songcategorylink
    ADD CONSTRAINT songcategorylink_song_id_fkey FOREIGN KEY (song_id) REFERENCES public.song(id);


--
-- Name: songuserclickedlink songuserclickedlink_song_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.songuserclickedlink
    ADD CONSTRAINT songuserclickedlink_song_id_fkey FOREIGN KEY (song_id) REFERENCES public.song(id);


--
-- Name: songuserclickedlink songuserclickedlink_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.songuserclickedlink
    ADD CONSTRAINT songuserclickedlink_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: user user_guitar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_guitar_id_fkey FOREIGN KEY (guitar_id) REFERENCES public.guitar(id);


--
-- Name: user user_level_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_level_id_fkey FOREIGN KEY (level_id) REFERENCES public.level(id);


--
-- Name: user user_string_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_string_id_fkey FOREIGN KEY (string_id) REFERENCES public.gstring(id);


--
-- Name: userrecord userrecord_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userrecord
    ADD CONSTRAINT userrecord_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict tSjJpPjgRwTfvvA6hWWfJjNE6R9bTCE0QLe48VvJgM3DdhngKx3Y8MkcA3oFrH4

